<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,300;6..72,800&display=swap"
    rel="stylesheet">
  <title>Document</title>
</head>

<body>

  <!-- <div class="rectangle"></div> -->


  <header class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo">perotvey</div>

        <nav class="nav">
          <a class="nav__link" href="https://z1rasss.pythonanywhere.com/">forum</a>
          <a class="nav__link" href="#">channels</a>
          <a class="nav__link" href="#">news</a>
          <a class="nav__link" href="{{url_for('about')}}">about</a>
          <a class="nav__link" href="#">contact</a>
        </nav>
      </div>
    </div>
  </header>


  <!-- <div class="intro">
    <div class="container">
        <h1>perotvey</h1>
    </div>
</div> -->

</body>

</html>